 <form class="formulario" [formGroup]="profileForm" (ngSubmit)="CrearNota()">
    
    <h1 class="titulo display-4 fw-arial">Crear Nota</h1>

    <label class="apartados">
        <p>Monto Neto:</p>
        <input class="apartados" type="text" formControlName="monto" required pattern="[0-9].{0,}$">
    </label> 

    <label class="apartados">
        <p>Factura a la que se le agregara la nota:</p>
      <input class="apartados" type="text" formControlName="idFacturaC">
    </label>
  
    <label class="apartados">
        <p>Tipo:<br>
            <select class="apartados" formControlName="tipo">
            <option>Debito</option>
            <option>Credito</option>
            </select>
        </p> 
    </label>

    <label class="apartados">
        <p>Descripción:</p>
        <textarea class="apartados" type="text" formControlName="descripcion" maxlength="200" rows="5"></textarea>
    </label>  
    
    <label class="apartados">
        <p>Fecha:</p>
        <input class="apartados" type="text" placeholder="Año-Mes-Dia"  formControlName="fecha" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    </label>

    <button _ngcontent-vmx-c51="" class="apartados btn btn-lg btn-primary" type="submit" [disabled]="!profileForm.valid">Crear Nota</button>
</form>