.formulario{
    width: 30%;
    background: rgba(38, 39, 39, 0.753);
    height: auto;
    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 1px rgb(66, 66, 66);
}

body{
    background: blue;
}

h1{
    text-align: center;
}
.apartados{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
}