<form class="formulario" [formGroup]="profileForm" (ngSubmit)="CrearSucursal()">

  <h1 class="titulo display-4 fw-arial">Crear Sucursal</h1>

    <label class="apartados">
      Identificacion Sucursal:
      <input class="apartados" type="text" formControlName="idSucursal" required minlength="4" maxlength="4">
    </label>
  
    <label class="apartados">
      Nombre Sucursal:
      <input class="apartados" type="text" formControlName="nombre">
    </label>
  
    <label class="apartados">
        Descripcion de la Sucursal:
        <textarea class="apartados" type="text" formControlName="descripcion" maxlength="200" rows="5"></textarea>        
    </label>
    
    <button class="apartados btn btn-primary btn-lg btn-block" type="submit" [disabled]="!profileForm.valid">Crear Sucursal</button>
  </form>