.menu{
    background: #0d6efd;
}

.prueba{
    width: 100%;
    text-align: right;
}

.texto{
    color: white;
}
.config{
    border-radius: 50%;
    border-color: black;
    width: auto;
    height: auto;
    margin-left: 2%;
    color: white;
    background: #0d6efd;
}

.config:hover{
    transform: scale(1.1);
    background: rgb(4, 14, 104);
}

body{
    color: white;
    background: rgb(13, 4, 92);
    height: auto;
}

